/* Corporate and Serious
 (Blue scheme)*/

* {
    color: #1a1a1d;
    /*rgb (26,26,29);*/
    color: #4e4e50;
    /*rgb (78,78,80)*/
    color: #6f2232;
    /*rgb (111,34,50)*/
    color: #950740;
    /*rgb (149,80,64)*/
    color: #c3073f;
    /*rgb (195,48,63)*/
}